In [1]:
import numpy as np
import pandas as pd

##### Question 1

In [2]:
np.__version__

# The version of NumPy installed is 1.20.3

'1.20.3'

##### Getting the Data

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

##### Question 2

In [5]:
data.shape[0]

# The 'shape' instance returns the number of the rows and columns in the dataset.
# The first item in the list returned is the number of rows while the other item is the number of columns.

# The number of records in the dataset is 11914.

11914

##### Question 3

In [6]:
data['Make'].value_counts()

# Using the 'value_counts' method returns the number of unique items in that column.

# The top 3 Car Manufacturers in the dataset are: Chevrolet, Ford, and Volkswagen.

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

##### Question 4

In [7]:
data[data['Make'] == 'Audi']['Model'].nunique()

# The number of unique Audi Car Models in the dataset is 34

34

##### Question 5

In [8]:
data.isna().sum()

# Using the 'sum' method on 'isna' methods rturns the number of missing value in each column in the dataset.

# There are 5 columns that have missing values in the dataset.

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

##### Question 6

In [9]:
data['Engine Cylinders'].median()

6.0

In [10]:
data['Engine Cylinders'].mode()[0]

4.0

In [11]:
data['Engine Cylinders'].fillna(data['Engine Cylinders'].mode()[0], inplace = True)

In [12]:
data['Engine Cylinders'].median()

6.0

###### The median of the 'Engine Cylinders' column did not change before and after filling the missing values

##### Question 7

In [13]:
X = data[data['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates()

In [14]:
X

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [15]:
# Transposing X

XT = X.T

XT

,3912,3913,3918,4216,4257,4259,4262,4292,4293
Engine HP,189.0,218.0,217.0,350.0,400.0,276.0,345.0,257.0,240.0
Engine Cylinders,4.0,4.0,4.0,8.0,6.0,6.0,6.0,4.0,4.0

In [16]:
# Multiplying the 'transpose of X' with X


XTX = XT.dot(X)

XTX

                  Engine HP  Engine Cylinders
Engine HP          731684.0           13410.0
Engine Cylinders    13410.0             252.0

In [17]:
#Inverting XTX

XTX_inv = np.linalg.inv(XTX)

XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [18]:
# Creating array 'y'

y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [19]:
# Multiplying 'the inverse of XTX' with 'the transpose of X' and then with 'y'


w = XTX_inv.dot(XT).dot(y)

w[0]

# The first element of w is 4.59494481

4.594944810094551